<!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <br /> <br />
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p>My professional background finds its roots in providing amazing user experiences, spanning both traditional service roles in the retail world and in developing unbeatable customer-centric web services. I hold a Bachelor of Security Analysis from the Australian National University, and I am currently finishing off my Masters of Computer Science at RMIT, Melbourne. Reach out to me to discuss your requirements today.</p>
                </div>
            </div>
        </div>
    </section>

