            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Some personal projects</h2>
                    <br /> <br />
                </div>
            </div>
<section>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4">
                    <div class="thumbnail">
                        <img alt="Friday" src="img/portfolio/friday.png" />
                        <div class="caption">
                            <h3>
                                Friday.
                            </h3>
                            <p>
                                 My first medium sized Ruby on Rails project. It's kinda like AirBNB!
                            </p>
                            <p>
                                <a class="btn btn-primary" href="http://localhost:3030/">Launch</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="thumbnail">
                        <img alt="Weather" src="img/portfolio/weather.png" />
                        <div class="caption">
                            <h3>
                                Weather.
                            </h3>
                            <p>
                                A simple Weather app I made after completing the course over at freecodecamp.com.
                            </p>
                            <p>
                                <a class="btn btn-primary" href="http://localhost:8888/">Launch</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="thumbnail">
                        <img alt="foto." src="img/portfolio/foto.png" />
                        <div class="caption">
                            <h3>
                                foto.
                            </h3>
                            <p>
                                A challenge project. 30 minutes to create a basic Instagram-like app. It was fun!
                            </p>
                            <p>
                                <a class="btn btn-primary" href="http://localhost:3000/">Launch</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
