                <section id="experience" class="section section-experience">
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <div class="col-lg-12 text-center">
                    <div class="animate-up animated">
                        <h2 class="section-title">Work Experience</h2>

                        <div class="timeline">
                            <div class="timeline-bar" style=""></div>
                            <div class="timeline-inner clearfix" style="">
                                <div class="timeline-box timeline-box-left" style="">
                                    <span class="dot"></span>
                                    <div class="timeline-box-inner animate-right animated">
                                        <span class="arrow"></span>
                                        <div class="date">2015 - 2016</div>
                                        <h3>CENITEX</h3>
                                        <h4>SERVICE DESK ANALYST</h4>
                                        <p>Request support: As part of the Cenitex Request Team, I support 30,000+ users across 14 government departments with IT requests; these relate to software deployment and installaton, RSA/Security authentication, Lotus Notes support and administration, new system and updates deployment, mobile device management requests, Remote Desktop/System Administration support, folder access and password management requests. I also provide first level troubleshooting and problem management support. I prioritise learning new processes and keeping up to date on new technologies as it is deployed to users so that I can offer the best user experience possible.
                                    </div>
                                </div>

                                <div class="timeline-box timeline-box-right" style="">
                                    <span class="dot"></span>
                                    <div class="timeline-box-inner animate-left animated">
                                        <span class="arrow"></span>
                                        <div class="date">2014 - 2015</div>
                                        <h3>INVENTIUM</h3>
                                        <h4>WEB DEVELOPER, MAC SYS ADMIN, EVENT MANAGER</h4>
                                        <p>I was responsible for working on a range of projects, designing the company's website, interacting on a daily basis with graphic designers, web hosts and marketers. Looked after the internal cloud storage solution, designed and implemented SEO plans and managed a corporate events space.</p>
                                    </div>
                                </div>

                                <div class="timeline-box timeline-box-left" style="">
                                    <span class="dot"></span>
                                    <div class="timeline-box-inner animate-right animated">
                                        <span class="arrow"></span>
                                        <div class="date">2013 - 2014</div>
                                        <h3>APPLE</h3>
                                        <h4>RETAIL OPERATIONS LEAD</h4>
                                        <p>Led and inspired a team of Retail Operations Specialists in the Back of House (BOH) to consistently exceed company operational expectations; Employed a consultative leadership style to drive for results in asset and inventory management, and ensured best practice (including managing consistent 99% store inventory unit accuracy, and world-class shrink below 0.2%) was communicated in a relevant manner to all stakeholders Worked as part of the Internal Systems and Technology team to provide internal technology support (POS, retail systems, iOS/Mac apps used internally, and Particularly enjoyed mentoring and training team members in technical systems and concepts.</p>
                                        <span class="arrow"></span>
                                        <div class="date">2012 - 2013</div>
                                        <h3>APPLE</h3>
                                        <h4>SPECIALIST</h4>
                                        <p>Built B2B relationships and loyalty, by conducting needs analyses and developing relevant, cost-effective solutions; Organised and conducted training at Apple Store Business Workshop Events (JAMF/Casper, Invoice2Go, and other Mac/iOS business solutions); Trained staff in OS X Server and Apple Pro Apps to improve B2B sales on the floor, and managed customer engagement and pipeline using CRM tools</p>
                                    </div>
                                </div>     
                            </div>
                        </div>
                    </div>  
            </div>
        </div>
    </div>
</div>
                </section>
